{#
/**
 * @file
 * Kiso's theme override for an item list.
 *
 * You will find same variables as in the core 'item-list.html.twig' template.
 *
 * Related WCAG resources:
 * - SC 1.3.1 Info and Relationships (Level A):
 *   - H48: Using ol, ul and dl for lists or groups of links.
 *
 * @see template_preprocess_item_list()
 */
#}
{%-
  set wrapper_classes = [
    'item-list',
    context.list_style ? 'item-list--style-' ~ context.list_style|clean_class,
  ]
%}
{% if items or empty -%}
  <div{{ wrapper_attributes.addClass(wrapper_classes) }}>
    {%- if title is not empty -%}
      <h3>{{ title }}</h3>
    {%- endif -%}
    {%- if items -%}
      <{{ list_type }}{{ attributes }}>
        {%- for item in items -%}
          <li{{ item.attributes }}>{{ item.value }}</li>
        {%- endfor -%}
      </{{ list_type }}>
    {%- else -%}
      {{- empty -}}
    {%- endif -%}
  </div>
{%- endif %}
