{#
/**
 * @file
 * Kiso's theme override for status messages.
 *
 * You will find same variables as in the core 'status-messages.html.twig' template.
 *
 * Related WCAG resources:
 * - SC 1.4.1 Use of Color (Level A):
 *   - G14: Ensuring that information conveyed by color differences is also
 *     available in text.
 * - SC 3.3.1 Error Identification (Level A):
 *   - ARIA19: Using ARIA role=alert or Live Regions to Identify Errors.
 * - SC 4.1.2 Name, Role, Value (Level A):
 *   - ARIA14: Using aria-label to provide an invisible label where a visible
 *     label cannot be used. 
 */
#}
{% block messages %}
{{ attach_library('kiso/messages') }}
{% set container = container_fluid ? 'container-fluid' : 'container' %}
{% for type, messages in message_list %}
  {%
    set classes = [
      'messages',
      'messages--' ~ type,
    ]
  %}
  {% if status_headings[type] %}
    {% set attributes = attributes.setAttribute('aria-label', status_headings[type]) %}
  {% endif %}
  <div class="{{ container }}">
    <div role="alert"{{ attributes.addClass(classes)|without('role') }}>
      {% if messages|length > 1 %}
        <ul class="messages__items">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>
  </div>
  {# Remove type specific status and classes. #}
  {% set attributes = attributes.removeAttribute('aria-label').removeClass(classes) %}
{% endfor %}
{% endblock messages %}
