{#
/**
 * @file
 * Kiso's theme override to display a block.
 *
 * You will find same variables as in the core 'block.html.twig' template.
 *
 * Custom variables:
 * - derivative_plugin_id: Useful class according to the generated
 *   module (Provider).
 * - block_region: The block region embedding the current block.
 *
 * @see template_preprocess_block()
 * @see kiso_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block--' ~ configuration.provider|clean_class,
    'block--' ~ configuration.provider|clean_class ~ '--' ~ derivative_plugin_id|clean_class,
    'block--region-' ~ block_region|clean_class,
  ]
%}
<div{{ attributes.addClass(classes)|without('role') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block__title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
