{% extends "block.html.twig" %}
{#
/**
 * @file
 * Kiso's theme override to display a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * You will find same variables as in the core 'block--system-branding-block.html.twig' template.
 *
 * Custom variables:
 * - is_hidden: A flag indicating if the logo is defined.
 * - title_text: The specific text to be used as value of the title attribute
 *   for the "Back to homepage" link.
 * - is_front: A flag indicating if the current page is the front page.
 *
 * Related WCAG resources:
 * - SC 1.1.1 Non-text Content (Level A):
 *   - H37: Using alt attributes on img elements.
 * - SC 2.4.4 Link Purpose (In Context) (Level A):
 *   - C7: Providing a supplemental description of the purpose of a link using CSS
 *     to hide a portion of the link text.
 *
 * @see template_preprocess_block()
 * @see kiso_preprocess()
 * @see kiso_preprocess_block()
 */
#}
{% set is_hidden = site_logo ? 'true' : 'false' %}
{% set title_text = not site_logo and site_name ? site_name : 'Back to the'|t %}

{% block content %}
  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" data-pattern="tooltip" title="{{ '@title_text homepage'|t({ '@title_text': title_text }) }}" rel="home" class="block__branding">

      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Back to the homepage'|t }}" class="block__site-logo">
      {% endif %}

      {% if site_name %}
        <span class="block__site-name" aria-hidden="{{ is_hidden }}">{{ '@site_name <span class="visually-hidden">homepage</span>'|t({ '@site_name': site_name }) }}</span>
      {% endif %}

    </a>
    {% if site_name and is_front %}
      <h1 class="visually-hidden">{{ '@site_name homepage'|t({ '@site_name': site_name }) }}</h1>
    {% endif %}
  {% endif %}

  {% if site_slogan %}
    <small class="block__site-slogan">{{ site_slogan }}</small>
  {% endif %}
{% endblock %}
