{#
/**
 * @file
 * Kiso's theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the 'html.html.twig' template in this directory.
 *
 * You will find same variables as in the core 'page.html.twig' template.
 *
 * Regions:
 * - page.tools: Items for the Toolbar region.
 * - page.header: Items for the Header region.
 * - page.header_collapsible: Items for the Header (Collapsible) region.
 * - page.highlighted: Items for the Highlighted (Featured content) region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.breadcrumb: Items for the Breadcrumb region.
 * - page.content: The current page content.
 * - page.navigation: Items for the Navigation sidebar (Left) region.
 * - page.complementary: Items for the Related content sidebar (Right) region.
 * - page.postscript: Items for the Postscript (Footnotes) region.
 * - page.footer: Items for the Footer region.
 *
 * Related WCAG resources:
 * - SC 1.3.1 Info and Relationships (Level A):
 *   - ARIA11: Using ARIA landmarks to identify regions of a page.
 * - SC 4.1.2 Name, Role, Value (Level A):
 *   - ARIA5: Using WAI-ARIA state and property attributes to expose the state of
 *     a user interface component.
 *
 * @see template_preprocess_page()
 * @see kiso_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = container_fluid ? 'container-fluid' : 'container' %}

{# Toolbar Area #}
{% if page.tools|render is real_content %}
  {% block tools %}
    <div class="page__wrapper page__wrapper--tools">
      <div class="page__section page__section--tools {{ container }}">
        {{ page.tools }}
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Banner Landmark #}
{% if page.header|render is real_content or page.header_collapsible|render is real_content %}
  {% block header %}
    <div class="page__wrapper page__wrapper--header">
      <header class="page__section page__section--header {{ container }}">
        {{ page.header }}
        {# This button is used as the toggle for the Header (Collapsible) #}
        <button type="button" class="button button--toggler" aria-controls="headerCollapsible" aria-expanded="false"><span>Menu</span></button>
        {{ page.header_collapsible }}
      </header>
    </div>
  {% endblock %}
{% endif %}

{# Featured content Area #}
{% if page.highlighted|render is real_content %}
  {% block highlighted %}
    <div class="page__wrapper page__wrapper--highlighted">
      <div class="page__section page__section--highlighted {{ container }}">
        {{ page.highlighted }}
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Main #}
{% block main %}
  <div class="page__wrapper page__wrapper--content">

    {# Dynamic help text #}
    {% block help %}
      {{ page.help }}
    {% endblock %}

    {# Breadcrumb #}
    {% block breadcrumb %}
      {{ page.breadcrumb }}
    {% endblock %}

    {% if page.navigation|render is real_content or page.complementary|render is real_content %}
      <div class="{{ container }}">
        <div class="row">
    {% endif %}

      {# Main content #}
      {%
        set content_classes = [
          'page__section',
          'page__section--content',
          page.navigation|render is real_content or page.complementary|render is real_content ? '' : container,
        ]
      %}
      {% block content %}
        <main{{ content_attributes.addClass(content_classes).setAttribute('role', 'main') }}>
          {{ page.content }}

          {# Enable and display the "Back to top" button. #}
          {% if backtotop_enable %}
            {% include '@kiso/misc/back-to-top.html.twig' %}
          {% endif %}
        </main>
      {% endblock %}

      {# Navigation sidebar (Left) #}
      {% if page.navigation|render is real_content %}
        {% block navigation %}
          <div class="page__section page__section--navigation">
            {{ page.navigation }}
          </div>
        {% endblock %}
      {% endif %}

      {# Related content sidebar (Right) #}
      {% if page.complementary|render is real_content %}
        {% block complementary %}
          <div class="page__section page__section--complementary">
            {{ page.complementary }}
          </div>
        {% endblock %}
      {% endif %}

    {% if page.navigation|render is real_content or page.complementary|render is real_content %}
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}

{# Footnotes Area #}
{% if page.postscript|render is real_content %}
  {% block postscript %}
    <div class="page__wrapper page__wrapper--postscript">
      <div class="page__section page__section--postscript {{ container }}">
        {{ page.postscript }}
      </div>
    </div>
  {% endblock %}
{% endif %}

{# Contentinfo Landmark #}
{% if page.footer|render is real_content %}
  {% block footer %}
    <div class="page__wrapper page__wrapper--footer">
      <footer class="page__section page__section--footer {{ container }}">
        {{ page.footer }}
      </footer>
    </div>
  {% endblock %}
{% endif %}
